.navbar-default{
	background: #1C4A00;
}
.navbar-default .navbar-brand{
	color: #7FBA5D;
	font-family: Ubuntu;
	font-weight: 700;
}
.navbar-default .navbar-nav > li > a{
	color: #7FBA5D;
	font-family: Ubuntu;
	font-weight: 700;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #7FBA5D;
}
body{
	color:#1C4A00;
	background: #B0DF95;
}
.jumbotron{
	margin-top:70px;
	background: #1C4A00;
	color:#7FBA5D;
	font-family: Open Sans;
}
h1{
	font-family: Open Sans;
	font-weight: 800;
}
.about{
	border-left: 5px solid #B0DF95;
	padding-left: 10%;
}
.sophia{
	padding-left: 40%;
}