.navbar-brand{
	font-family: Ubuntu;
	background:#1C4A00;
	color: #7FBA5D;

}
.navbar{
	background: #1C4A00;
}
.nav > li > a{
	font-family: Ubuntu;
	color:	#7FBA5D;
}
body{
	
	border-left: #569532;
	color:#1C4A00;
	font-family: Open Sans;
	background: #B0DF95;
}
.jumbotron{
	margin-top:70px;
	background: #1C4A00;
	color:#7FBA5D;
}
.about{
	border-left: 5px solid #B0DF95;
}
.paragraph{
	padding-left: 20px;
}
.sophia{
	margin-left: 30%;
}